<!--enoji Link : https://giphy.com/explore/emoji-sticker-->
{% extends 'Home.html' %}

{% block content %}


<style>
  .ajcard{
    background:linear-gradient(to right, #8360c3, #2ebf91);;
    border: 2px solid #555555;
    border-radius: 4px;
    position: relative;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform .5s;
    color:black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  .ajcard:hover{
  transform: translateZ(10px) rotateX(20deg) rotateY(20deg);
  background: linear-gradient(to right, #fc5c7d, #6a82fb);

  }


</style>
    
<!--  main category    -->
      
<div class="container raj pt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for i in category %}
      <form method="post">
        {% csrf_token %}
      <div class="col">
        <div class="card ajcard">
          <div class="card-body cb">
            <h5 class="card-title title" >{{i.cat}}</h5>
            <p class="card-text">{{i.c_bio}}</p>

              <input type="hidden" name ="catbtn" value="{{i.cat}}">
              <button type="submit" class="bt">➟</button>
          </div>
        </div>
      </div>
      </form>
      {% endfor %}
  </div>
</div>
      
{% endblock %}