{% extends 'Home.html' %}

{% block content %}
    <style>
        #o1,#o2,#o3,#o4{
            color:white;
            background-color: rgba(1,1,1,0.2);
            border-radius: 5px;
            padding-left: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
        } 
        
        .incorrect{
            transition: 0.5s;
            border:2px solid red;
            background-color:red;
        }
        
        .incorrect:hover{
            background: red;
            box-shadow: 0px 0px 30px red;
        }
        
        .correct{
            border : 2px solid chartreuse;
            transition: 0.5s;
            background-color : chartreuse;
        }
        
        
        
        .correct:hover{
            
            background-color:chartreuse;
            box-shadow: 0px 0px 30px chartreuse;
        }
        
        .spa{
            padding-left: 5px;
            margin-right: 10px;
            background-color: red;
            padding-right: 3px;
            border-radius: 5px;
            color: dimgrey;
            background-color: white;
        }
        
        .resul{
            padding: 40px;
            background: rgba(0,0,0,0.1);
            margin-top: 20px;
            border-top-left-radius: 30px;
            border-bottom-right-radius: 30px;
            box-shadow: 0px 0px 3px black;
        }
        
        .userdetails{
            padding: 20px;
            margin-top: 80px;
            box-shadow: 0px 0px 2px black;
            background: linear-gradient(0.25turn, #3f87a6, gray,#3f87a6);
            
        }
        .userdetails h2{
            font-family:serif;
            text-transform:capitalize;
            letter-spacing: 4px;
            font-weight: 900;
            color:black;
        
        }
    
      
</style>


<div class="container">
    <div class="userdetails">
        <div class="row">
            <div class="col">
            <h2>{{user.first_name}} {{ user.last_name }}</h2>
                <p>{{user.username}}</p>
            <p>{{user.email}}</p>
        </div>
        <div class="col">
            <img src="https://media4.giphy.com/media/LOnt6uqjD9OexmQJRB/giphy.gif?cid=ecf05e47ckn8bwbeytlldw5tvxlsmz5mgid4oq3kw2wlropq&rid=giphy.gif&ct=g" alt="Avatar" class="img-fluid my-3" style="width: 90px;" />
        </div>

        </div>



        <hr>
        <h5>Score ➟ {{score}}/10</h5>
        <h5>Point ➟ {{points}}</h5>
        <p>Time ➟ {{time}} sec</p>
        <p>category ➟ {{ucat}}</p>
    </div>

    <input type="text" id="apikey" style="display:none;" class="form-control">

    {% for i in data %}
    <div class="resul">
    <p class="">
        <h5 class="txt">QN{{ forloop.counter }}. {{i.0}}</h5>
        <hr>
        <h5 style="color:white; text-shadow:0px 0px 10px black;  padding:5px; background-color:rgba(0,0,0,.2); border-radius:5px; "><pre>{{i.1}}</pre></h5><br>

                    {% if i.6 == "1"%}
                        <p id="o1" class="correct" ><span class="spa">1.</span>{{i.2}}</p>
                    {% else %}
                        {% if i.9 == 1 %}
                        <p id="o1" class="incorrect" ><span class="spa">1.</span>{{i.2}}</p>
                        {% else %}
                        <p id="o1" ><span class="spa">1.</span>{{i.2}}</p>
                        {% endif %}
                    {% endif %}

                    {% if i.6 == "2"%}
                    <p id="o2" class="correct" ><span class="spa">2.</span>{{i.3}}</p>
                    {% else %}
                        {% if i.9 == 2 %}
                        <p id="o2" class="incorrect" ><span class="spa">2.</span>{{i.3}}</p>
                        {% else %}
                        <p id="o2" ><span class="spa">2.</span>{{i.3}}</p>
                        {% endif %}

                    {% endif %}

                    {% if i.6 == "3" %}
                    <p id="o3" class="correct" ><span class="spa">3.</span>{{i.4}}</p>
                    {% else %}
                        {% if i.9 == 3 %}
                        <p id="o3" class="incorrect" ><span class="spa">3.</span>{{i.4}}</p>
                        {% else %}
                        <p id="o3" ><span class="spa">3.</span>{{i.4}}</p>
                        {% endif %}
                    {% endif %}

                    {% if i.6 == "4"%}
                    <p id="o4" class="correct" ><span class="spa">4.</span>{{i.5}}</p>
                    {% else %}
                    {% if i.9 == 4 %}
                        <p id="o4" class="incorrect" ><span class="spa">4.</span>{{i.5}}</p>
                        {% else %}
                        <p id="o4" ><span class="spa">4.</span>{{i.5}}</p>
                        {% endif %}
                    {% endif %}

                    <!--     incorrect       -->

<!--                    {% if "i.9" == i.6 %}-->
<!--                        <p> correct answer </p>-->
<!--                    {% endif %}-->

        <p>
            your_answer : {{i.9}}
            answer : {{i.6}}



        </p>

        <button onclick="lem({{i}})"> Learn More </button>





        <p class="solution">

        </p>

        </p>
    </div>


     {% endfor %}

</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

function lem(q)
{
        alert(q)

         var inputdata = {};
		inputdata['input_string']= q;
		inputdata['api_key']= api;

        $.ajax({
			url: "{% url 'codeajgptapi' %}",
			type: 'POST',
		    contentType: "application/json; charset=utf-8",
			data: JSON.stringify(inputdata),
			async: true,
			success: function(result){
				console.log(result['reversed_string']);
			}
		});
}


$(document).ready(function() {


  //localapikey = localStorage.getItem('api_key')
  //  if(localapikey != ""){
    //  $("#apikey").val("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")
   // }







       // ques = question[0]+"\n"+question[1]
       // api=$("#apikey").val()
        //if (api !=""){
          //localStorage.setItem('api_key',api)

          alert(question)








    //}

  })


</script>




      
      
    {% endblock %}