{% extends 'Home.html' %}

{% block content %}

<div class="container raj">
        <h1 class="sn">{{count}}</h1>
    <form method="post">
        {% csrf_token %}
      <div class="card indexcard" style= "background-image: linear-gradient(to right, rgba({{r1}},{{g1}},{{b1}},1), rgba({{r2}},{{g2}},{{b2}},1));" >
          <div class="card-body">
            <input type='hidden' name='tim' id='time' value="5" >
              <p style="font-weight:bold; font-size:15px; color:white; position:absolute; top:20px; ">Topic : ( {{q_obj.category}} ) / {{q_obj.topic}}  ( <span style="color: red;"></span> sec )</p>

              {% if q_obj == '' %}
                <h5 class="card-title txt">We are working on this coming soon.....</h5>
              {% else %}

                {% if q_obj.subquestion != '' %}
                <h5 class="card-title txt">{{q_obj.question}}</h5><h5 style="color:white; text-shadow:0px 0px 10px black;  padding:5px; background-color:rgba(0,0,0,.2); border-radius:5px; "><pre>{{q_obj.subquestion}}</pre></h5><br>
                {% else %}
                <h5 class="card-title txt">{{q_obj.question}}</h5><br>
                {% endif %}
              {% endif %}

              <div style="color: white; font-weight:bold; font-size : 20px; text-shadow: 0px 0px 10px black;">
                  <input style="transform: scale(2.0);  margin : 20px;" type="radio"  name="o" value="1"> <span>{{q_obj.option1}}</span><br>
                  <input style="transform: scale(2.0);  margin : 20px;" type="radio"  name="o" value="2"> <span>{{q_obj.option2}}</span><br>
                  <input style="transform: scale(2.0);  margin : 20px;" type="radio"  name="o" value="3"> <span>{{q_obj.option3}}</span><br>
                  <input style="transform: scale(2.0); margin : 20px;" type="radio"  name="o" value="4"> <span>{{q_obj.option4}}</span><br>
              </div>
              <input class="btn" style="background-color:orange; color:white; margin:20px;" type="submit" value="Next  ➤ ">
          </div>
        </div>
      </form>
</div>

<script>

    var tim=0;
    var countup = setInterval(function(){
        ++tim;
        document.getElementById('time').innerHTML = tim;
    },1000);
</script>
      
{% endblock %}