{% extends 'Home.html' %}

{% block content %}

<style>
  .botn{
    position : absolute;
    color: black;
    text-decoration:none;
    padding : 5px ;
    margin-left : 5px;
    font-size : 30px;
  }
  .botn:hover{
    transition: 3s;
    transform: rotate(360deg);
    color:red;

  }
  .point{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding:5px;
    border-radius : 10px;
    background-color:rgb(251,176,123);
    text-align:center;
    padding-top:10px;
  }
  .point a{
    text-decoration :none;
    color :white;
  }

  .point:hover{
    transition : 1s;
    background-color:orange;
    color :black;
  }


  .point1{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding:5px;
    border-radius : 10px;
    background-color:#4295f5;
    text-align:center;
    padding-top:10px;
  }
  .point1 a{
    text-decoration :none;
    color :white;
  }

  .point1:hover{
    transition : 1s;
    background-color:#0074fa;
    color :black;
  }


</style>

<div class="container raj">
    <section class="100vh" style="background-color: darkseagreen;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-lg-6 mb-4 mb-lg-0">
            <div class="mb-3" id=prof style="border-radius: .5rem;">

              <a class="botn" href="{% url 'addmore'%}">☀</a>
              <div class="row g-0">
                <div class="col-md-4 mt-5 gradient-custom text-center text-white"
                  style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">

                  {% if aobj == "ajay" %}
                  <img src="https://media4.giphy.com/media/LOnt6uqjD9OexmQJRB/giphy.gif?cid=ecf05e47ckn8bwbeytlldw5tvxlsmz5mgid4oq3kw2wlropq&rid=giphy.gif&ct=g"
                    alt="Avatar" class="img-fluid my-3" style="width: 150px;" />
                  {% else %}
                  <img src="{{aobj.0.profile_photo.url}}"
                    alt="Avatar" class="img-fluid my-3" style="width: 100px; height:100px;  border-radius:50%; " />
                  {% endif %}

                  <h5>{{user.first_name}} {{ user.last_name }} </h5>
                  <p>{{user.username}}</p>
                  <i class="far fa-edit mb-5"></i>
                </div>
                <div class="col-md-8">
                  <div class="card-body p-4">
                    <div class="row pt-1">

                      <div class="col-12 m-3" >
                        <button onclick="location.href = '/quiz/category'" style="position : relative;left:-20px;  top: -3px;"   class="btt">Let's Rock with PlayHere ➟ </button>
                      </div>




                    </div>
                    <hr class="mt-0 mb-4">
                    <div class="row pt-1">


                        <div class="col-5 m-2 point">
                          <a href="{% url 'point' %}">
                          <h6>Points</h6>
                          <p style="font-weight: bold; font-size: 25px">{{rank}}<p>
                          </a>
                        </div>


                      <div class="col-5 m-2 point">
                        <a href="{% url 'point' %}">
                        <h6>Game Played</h6>
                        <p style="font-weight: bold; font-size: 25px">{{pobjcount}}</p>
                        </a>
                      </div>
                    </div>


                    <div class="row pt-1">

                      <div class="col-5 m-2 point1">
                        <a href="{% url 'category' %}">
                        <h6>Recent</h6>
                        <p style="font-weight: bold; font-size: 15px">{{pobj.category}}</p>
                        </a>
                      </div>

                      <div class="col-5 m-2 point1">
                        <a href="{% url 'category' %}">
                        <h6>Most Played</h6>
                        <p style="font-weight: bold; font-size: 15px">{{mostplay}}</p>
                        </a>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <p style="text-align : center; font-weight : bold;  ">Get <a style="text-decoration : none; font-size : 20px;" href="{% url 'certificate' %}">Certificate</a></p>


</div>

{% endblock %}