{% extends 'Home.html' %}

{% block content %}
      
<div class="container">
    <section class="100vh" style="background-color: darkseagreen;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-lg-6 mb-4 mb-lg-0">
            <div class="mb-3" id=prof style="border-radius: .5rem;">
              <div class="row g-0">
                <div class="col-md-4 gradient-custom text-center text-white"
                  style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                  <img src="https://media4.giphy.com/media/LOnt6uqjD9OexmQJRB/giphy.gif?cid=ecf05e47ckn8bwbeytlldw5tvxlsmz5mgid4oq3kw2wlropq&rid=giphy.gif&ct=g"
                    alt="Avatar" class="img-fluid my-3" style="width: 150px;" />
                  <h5>{{user.first_name}} {{ user.last_name }} </h5>
                  <p>{{user.username}}</p>
                  <i class="far fa-edit mb-5"></i>
                </div>
                <div class="col-md-8">
                  <div class="card-body p-4">
                    <h4>Score </h4>
                    <hr class="mt-0 mb-4">
                    <div class="row pt-1">
                      <div class="col-6 mb-3">
                        <h6>Rank</h6>
                        <p style="font-weight: bold; font-size: 25px">{{rank}}<p>
                      </div>
                      <div class="col-6 mb-3">
                        <h6>Game Played</h6>
                        <p style="font-weight: bold; font-size: 25px">{{pobjcount}}</p>
                      </div>
                    </div>
                    <h6>Projects</h6>
                    <hr class="mt-0 mb-4">
                    <div class="row pt-1">
                      <div class="col-6 mb-3">
                        <h6>Recent</h6>
                        <p style="font-weight: bold; font-size: 15px">{{pobj.category}}</p>
                      </div>
                      <div class="col-6 mb-3">
                        <h6>Most Played</h6>
                        <p style="font-weight: bold; font-size: 15px">{{mostplay}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
</div>  

{% endblock %}